---
import ExternalLinkIcon from "./icons/ExternalLinkIcon.astro";
import GithubIcon from "./icons/GithubIcon.astro";
const { projectLink, projectTitle, projectDescription, projectRepo, grid } =
  Astro.props;
---

<div
  class=`container ${grid} w-full p-4 border transition duration-200 ease-in-out hover:bg-stone-800/30 border-stone-800 bg-stone-900/20 shadow-xl backdrop-blur-md rounded-lg text-amber-50`
>
  <div class="header flex justify-between items-center w-full">
    <div class="flex gap-3">
      <a
        href={projectLink}
        target="_blank"
        rel="noopener noreferrer"
        class="group flex items-center gap-1.5 text-lg transition duration-200 ease-in-out hover:underline decoration-accent"
        ><span
          class="transition duration-200 ease-in-out group-hover:text-accent"
          >{projectTitle}</span
        >
        <ExternalLinkIcon width="15" height="15" />
      </a>
    </div>
    <a href={projectRepo} target="_blank" rel="noopener noreferrer">
      <GithubIcon />
    </a>
  </div>
  <article class="mt-2 pl-2">{projectDescription}</article>
  <div class="stack flex gap-1.5 items-center mt-3 text-xs"><slot /></div>
</div>
